.text{
    font-family: Brush Script MT, Lucida Handwriting, Cursive;
    font-weight: 1000;
    color:#203a43;
    font-size: large;

}
.example-spacer {
    flex: 1 1 auto;
  }

  .logo {
    width: 60px;
    height: 60px;
    border-radius: 70%;
  }

.card{
  color: #203a43;
  border:2px solid;
  border-color:#355178;
  margin-bottom: 2%;
}