<mat-card class="card">
    <div class="col">

        <div class="container text-center">
            <h2 style="font-family: Brush Script MT, Lucida Handwriting, Cursive;font-weight: 200;color:#203a43"> Upload
                Picture
                <hr>
            </h2>
        </div>
        <input type="file" name="image" (change)="selectImage($event)" />

    </div>
    <br>
    <div>
        <button pButton pRipple label="Upload" class="p-button-rounded p-button-success" (click)="onSubmit()">
            <mat-icon class="icon_size">vertical_align_top</mat-icon>
        </button>&nbsp;

    </div>
</mat-card>