<div class="container text-center">
    <div class="row justify-content-evenly">
     
        <div class="col">
            <div id='main' style="height:250px;width:250px;margin-left: 30px;">
            </div>
            <div class="container text-start">
                <mat-card style="width:50%;
                border:2px solid;
                border-color:#203a43;margin-left: 8%;">
            <h2 class="text">Total Leaves left </h2> <hr>
            <h3>Sick Leave : {{SL}}</h3> 
            <h3>Casual Leave : {{CL}}</h3> 
            </mat-card>
            </div>
        </div>
       
        <div class="col">
            <div class="container text-center">
                <div class="d-flex justify-content-center">

                    <mat-card class="card">
                        <mat-card-label class="text" style="font-size: large;">Apply for Leave</mat-card-label>
                        <form [formGroup]="form" (ngSubmit)="submitform()">


                            <hr style="margin:0%;color:#203a43;">

                            <mat-form-field appearance="outline" style="width:45%;margin-top:5%;">
                                <mat-label>Select Type Of Leave</mat-label>
                                <mat-select formControlName="leaveType">
                                    <mat-option *ngFor="let lT of leaveType" [value]="lT">
                                        {{lT}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp; &nbsp; &nbsp;
                            <mat-form-field appearance="outline" style="width:45%;margin-top:5%;">
                                <mat-label>Select Day</mat-label>
                                <mat-select formControlName="leaveday">
                                    <mat-option *ngFor="let loc of leaveday" [value]="loc">
                                        {{loc}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:45%;">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="date" [min]="currentDate" formControlName="startDate">
                                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                <mat-datepicker #date></mat-datepicker>
                            </mat-form-field>
                            &nbsp; &nbsp; &nbsp;
                            <mat-form-field appearance="outline" style="width:45%;">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="date1" [min]="currentDate" formControlName="endDate">
                                <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
                                <mat-datepicker #date1></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:70%;">
                                <mat-label>Note :</mat-label>
                                <textarea matInput type="text" formControlName="note">
                                       </textarea>
                            </mat-form-field>

                        </form>
                        <button pButton pRipple type="button" label="Submit" class="p-button-rounded"
                            (click)="submitform()" style=" border:2px solid;
                        border-color:#fdfdfd;"></button>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>


</div>

<div class="container text-center">
    <div class="d-flex justify-content-center">
        <mat-card class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sl.NO</th>
                        <th scope="col">Leave Id</th>
                        <th scope="col">Employee Code</th>
                        <th scope="col">From Date</th>
                        <th scope="col">To Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Leave Type</th>
                        <th scope="col">No.of Days</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let row of res; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ row.leaveid }}</td>
                        <td>{{row.empcode}}</td>
                        <td>{{ row.fromdate }}</td>
                        <td>{{ row.todate }}</td>
                        <td>{{ row.note }}</td>
                        <td>{{ row.typeofleave }}</td>
                        <td>{{ row.totaldays }}</td>
                        <td>
                            <p *ngIf="row.status == 'Approved'"><button pButton  type="button" label="Approved" class="p-button-rounded p-button-success"></button></p>
                            <p *ngIf="row.status == 'Reject'"><button pButton  type="button" label="Rejected" class="p-button-rounded p-button-danger"></button></p>
                            <p *ngIf="row.status == 'Pending'"><button pButton  type="button" label="Pending" class="p-button-rounded p-button-warning"></button></p>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container text-center">
                <div class="d-flex justify-content-center" *ngIf="len == 0">
                    <h1 class="row" style="
              font-family: Brush Script MT, Lucida Handwriting, Cursive;
              font-weight: 200;
              color: #203a43;
              margin-bottom: 3%;
            ">
                        No Leaves 
                    </h1>
                    <!-- <img style="height:250px;width:350px;" src="../../../assets/images/Noresultfound.jpg"> -->
                </div>
            </div>
        </mat-card>
    </div>
</div>
