<form [formGroup]="emojiForm">
    <mat-form-field appearance="outline" style="width:70%;">
        
        <textarea matInput type="text" formControlName="inputField" [(ngModel)]="postdata">
               </textarea>
               <button pButton pRipple type="button" icon="pi pi-prime" (click)="onclick()" class="p-button-rounded p-button-secondary" ></button>
            <ng-container *ngIf="visible">
                <div>
                    <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                </div>
               

            </ng-container>
    </mat-form-field> 
    <button pButton pRipple type="button" icon="pi pi-pencil" (click)="post()" class="p-button-rounded p-button-secondary" ></button>
   
 </form>